/*
Basic css for masterdesky.github.io, which generates the general outlook of the site

Original Author
    Balázs Pál
    2020 - 
*/
$baseColor: rgba(4, 12, 21, 0.604);
$mainColor: rgba(255,204,0,1);
$textColor: rgba(250,250,255,1);

/*
Using Latin Modern font for content
Source: http://www.gust.org.pl/projects/e-foundry/latin-modern
*/
@font-face {
    font-family: IndexFont;
    src: url('../assets/fonts/lmroman12-regular.otf');
  }

body {
    background-image: url('../assets/images/backgrounds/background-portal.webp');
    background-size: cover;
    background-repeat: repeat-y;

    height: 100vh;
    padding:0;
    margin:0;
}

/*
##  PAGE BASICS
*/
/* Dark, transparent rectangle in the center of the page from top to bottom */
#page-wrapper {
    height: 100%;
    width: 900px;
    margin: 0 auto;
    background-color: $baseColor;
  }

/* Header image div inside the "page wrapper" transparent rectangle */
#header-image-container {
    width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Actual header image inside the header image container */
.header-image {
    max-width: 100%;
    max-height: auto;
}

/* Footer settings */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $baseColor;
    color: $mainColor;
    text-align: center;
  }

/*
##  NAVIGATION BAR
*/
.menu {
    text-align: center;
    padding-bottom: 5px;
}
.menu ul {
    list-style: none;
    margin: 8px;
    padding: 0
}
.menu li {
    display: inline-block;
    padding: 0 20px;
}
.menu a {
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato';
}
.menu a:hover {
    text-decoration: underline;
}

/*
##  TEXT CONTENT ON PAGES
*/
h1 {
    color: $mainColor;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lato';
    padding-left: 7%;
}
h2 {
    color: $mainColor;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato';
    padding-left: 7%;
}
.index-content {
    color: $textColor;
    font-size: 20px;
    text-align: left;
    font-family: 'IndexFont';
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}