<!-- Social media icons -->
<div class="flex-center">
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/masterdesky/" alt="GitHub"><i class="fa fa-github fa-4x icon-3d"></i></a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCBDSB7PdQ3E9l9WSBsTy7cQ/" alt="YouTube"><i class="fa fa-youtube-play fa-4x icon-3d"></i></a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/masterdesky/" alt="Instagram"><i class="fa fa-instagram fa-4x icon-3d"></i></a>
    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/masterdesky/" alt="Twitter"><i class="fa fa-twitter fa-4x icon-3d"></i></a>
</div>