/*
Basic css for masterdesky.github.io, which generates the general outlook of the site

Original Author
    Balázs Pál
    2020 - 
*/

// Import global constants and variables
@import "constants/variables";

// Import code highlighting
@import "sass-code-highlight/monokai";

/*
Using 17pt Latin Modern Roman font for content text
(This is the most similar to the standard LaTeX (Computer Modern) font in my opinion)
Source: http://www.gust.org.pl/projects/e-foundry/latin-modern
*/
@font-face {
  font-family: IndexFont;
  src: url('/assets/fonts/lmroman17-regular.otf');
  font-display: swap;
}

html {
  height: 100%;
}

/*
body {
  background-image: url('/assets/images/background/background-portal.webp');
  background-size: cover;
  background-repeat: repeat-y;

  height: 100%;
  padding: 0;
  margin: 0;
}
*/

/*
####################################
##  
## 1. BASIC PAGE ELEMENTS
##
####################################
*/
/* Blurred, fixed background */
#body-bg {
  background-image: url('/assets/images/background/background-portal.webp');

  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  -webkit-filter: blur($blurAmount);
  -moz-filter: blur($blurAmount);
  -o-filter: blur($blurAmount);
  -ms-filter: blur($blurAmount);
  filter: blur($blurAmount);
  
  -webkit-transform: scale($scaleAmount);
  -moz-transform: scale($scaleAmount);
  -o-transform: scale($scaleAmount);
  -ms-transform: scale($scaleAmount);
  transform: scale($scaleAmount);

  z-index: -1;
}
/* Dark, transparent rectangle in the center of the page from top to bottom */
#page-wrapper {
  background-color: $baseColor;
  position: absolute;
  width: 1000px;  // Don't forget to change the viewport size in deafult.html to width+10px!!!
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: 2;
  overflow: visible;
}
/* Header image div inside the "page wrapper" transparent rectangle */
#header-image-container {
  width: 90%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Actual header image inside the header image container */
.header-image {
  max-width: 100%;
  max-height: 100%;
}
/* Footer settings */
#footer {
  background-color: $baseColor;
  position: fixed;
  height: $footerHeight;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  color: $mainColor;
}

/*
####################################
##  
## 2. NAVIGATION BAR
##
####################################
*/
.menu {
  text-align: center;
  padding-bottom: 5px;
}
.menu ul {
    list-style: none;
    margin: 8px;
    padding: 0
}
.menu li {
  display: inline-block;
  padding: 0 20px;
}

/* Menu links */
.menu a:link {
  text-decoration: none;
  text-transform: uppercase;
  color: $mainColor;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato';
}
.menu a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: $mainColor;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato';
}
.menu a:hover {
  text-decoration: underline;
}
.menu a:active {
  text-decoration: underline;
  color: $linkClickColor;
}


/*
####################################
##  
## 3. TEXT CONTENT ON REGULAR PAGES
##
####################################
*/
h1 {
  color: $mainColor;
  font-size: 42px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 3%;
}
h2 {
  color: $mainColor;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 4%;
}
h3 {
  color: $mainColor;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 5%;
}
h4 {
  color: $mainColor;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 6%;
}
.index-content {
  text-align: justify;
  text-indent: 0;
  color: $textColor;
  font-size: $stdFontSize;
  font-family: 'IndexFont';
  padding-top: 30px;
  padding-bottom: $footerHeight;
  margin: $marginSize;
}

/* Configure general links */
a:link {
  text-decoration: none;
  color: $mainColor;
}
a:visited {
  text-decoration: none;
  color: $mainColor;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: $linkClickColor;
  text-decoration: underline;
}

/*
####################################
##  
## 4. 404 NOT FOUND PAGE
##
####################################
*/
#notfound-wrapper {
  position: absolute;
  width: 1000px;  // Don't forget to change the viewport size in deafult.html to width+10px!!!
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: 2;
  overflow: visible;
}

.notfound-404 {
  background-color: $baseColor;
  height: 480px;
  width: 640px;
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
  border-radius: 100px;
  box-shadow: 0px 0px 15px 0px $shadowColor; /* h-offset  v-offset  blur  spread  color */
}
.text-404 {
  text-align: center;
  color: $mainColor;

  font-size: 120px;
  font-family: 'Lato';

  margin-bottom: 10px
}
.text-under-404 {
  text-align: center;
  color: $textColor;

  font-size: 30px;
  font-family: 'IndexFont';

  margin-top: 10px
}