/*
CSS for blog posts on masterdesky.github.io

Original Author
    Balázs Pál
    2020 - 
*/

// Import global constants and variables
@import "constants/variables";

// I. General look of posts
hPost {
  color: $postColor;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 7%;
}
/* Add a "floating card" effect for different posts */
.post {
  background-color: $baseColor;
  width: 80%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 60px;
  box-shadow: 4px 3px 15px 0px $shadowColor; /* h-offset  v-offset  blur  spread  color */
}
.post-ul {
  list-style-type: none;
}
.postimg-container {
  background-color: #00000000;
  border: 2px solid $shadowColor;
  border-radius: 25px;
  width: 650px;
  height: 325px;
  
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.postimg-container img {
  color: $baseColor;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.postDate {
  color: $textColor;
  font-size: 18px;
  text-align: right;
}
.postDesc {
  color: $textColor;
  font-size: 18px;
  text-align: justify;
}


// Setup enviroment to be able to zoom in or out images on click-event mostly in posts
.post-image {
  width: 90%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  z-index: 9999;
}
.post-image input[type=checkbox] {
  display: none
}
.post-image img {
  max-width: 100%;
  max-height: 600px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
  z-index: 9999;
}
.post-image input[type=checkbox]:checked~img {
  transform: scale(2);
  max-width: 100%;
  height: auto;
  width: auto; 
  cursor: zoom-out;
  z-index: 9999;
}

.post-content {
  color: $textColor;
  font-size: $stdFontSize;
  text-align: justify;
  text-indent: 1.5em;
  font-family: 'IndexFont';
  padding-top: 30px;
  padding-bottom: $footerHeight;
  margin: $marginSize;
}

// Related to captioning images inside the page wrapper
figcaption {
  font-size: 18px;
}

.img-source {
  font-size: 16px;
  margin-top: 10px;
}

/* Post links */
.post a:link {
  text-decoration: none;
}
.post a:visited {
  text-decoration: none;
}
.post a:hover {
  text-decoration: underline;
}
.post a:active {
  text-decoration: underline;
}

/* Style for list of references */
.references {
  font-size: 17px;
  text-indent: 0;
}
.references ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}
.references li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
}
.references li::before {
  display: inline-block;
  content: "[" counter(item) "] : ";
  counter-increment: item;
  color: $mainColor;
  font-family: 'Lato';
  width: 2em;
  margin-left: -2em;
}

/* Style for embed videos */
iframe {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 400px;
}