@charset "UTF-8";
/*
Basic css for masterdesky.github.io, which generates the general outlook of the site

Original Author
    Balázs Pál
    2020 - 
*/
/* Color variables */
/* Size variables */
/*
Using 12pt Latin Modern Roman font for content text
(This is the most similar to the standard LaTeX (Computer Modern) font in my opinion)
Source: http://www.gust.org.pl/projects/e-foundry/latin-modern
*/
@font-face {
  font-family: IndexFont;
  src: url("../fonts/lmroman12-regular.otf");
  font-display: swap; }

html {
  min-height: 100%;
  position: relative; }

body {
  background-image: url("../images/background/background-portal.webp");
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
  padding: 0;
  margin: 0; }

/*
##  PAGE BASICS
*/
/* Dark, transparent rectangle in the center of the page from top to bottom */
#page-wrapper {
  position: absolute;
  width: 900px;
  right: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  background-color: rgba(4, 12, 21, 0.604); }

/* Header image div inside the "page wrapper" transparent rectangle */
#header-image-container {
  width: 90%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px; }

/* Actual header image inside the header image container */
.header-image {
  max-width: 100%;
  max-height: 100%; }

/* Footer settings */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(4, 12, 21, 0.604);
  color: #ffcc00;
  text-align: center; }

/*
##  NAVIGATION BAR
*/
.menu {
  text-align: center;
  padding-bottom: 5px; }

.menu ul {
  list-style: none;
  margin: 8px;
  padding: 0; }

.menu li {
  display: inline-block;
  padding: 0 20px; }

.menu a {
  text-decoration: none;
  color: #ffcc00;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato'; }

.menu a:hover {
  text-decoration: underline; }

/*
##  TEXT CONTENT ON PAGES
*/
h1 {
  color: #ffcc00;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 7%; }

h2 {
  color: #ffcc00;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 7%; }

h3 {
  color: #ffcc00;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 7%; }

.index-content {
  color: #fafaff;
  font-size: 20px;
  text-align: justify;
  font-family: 'IndexFont';
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 30px; }

/*
## POST CARDS
*/
/* Fake image */
hPost {
  color: #fafaff;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 7%; }

.postimg-container {
  background-color: #00000000;
  height: 400px;
  margin: auto; }

.postimg-container img {
  color: rgba(4, 12, 21, 0.604);
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block; }

.postDesc {
  color: #fafaff;
  font-size: 18px;
  text-align: justify; }

/* Add a "floating card" effect for different posts */
.post {
  background-color: rgba(4, 12, 21, 0.604);
  width: 80%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 60px;
  box-shadow: 4px 7px 15px 0px rgba(250, 250, 255, 0.4);
  /* h-offset  v-offset  blur  spread  color */ }

/* Configure post links */
.post a:link {
  text-decoration: none; }

.post a:visited {
  text-decoration: none; }

.post a:hover {
  text-decoration: underline; }

.post a:active {
  text-decoration: underline; }
