@charset "UTF-8";
/*
Basic css for masterdesky.github.io, which generates the general outlook of the site

Original Author
    Balázs Pál
    2020 - 
*/
/*
Different globally used variable for the SASS/SCSS of masterdesky.github.io

Original Author
    Balázs Pált
    2020 - 
*/
/*
Using 17pt Latin Modern Roman font for content text
(This is the most similar to the standard LaTeX (Computer Modern) font in my opinion)
Source: http://www.gust.org.pl/projects/e-foundry/latin-modern
*/
@font-face {
  font-family: IndexFont;
  src: url("/assets/fonts/lmroman17-regular.otf");
  font-display: swap; }

/*
One can benefit from using a lineal typeface in headlines in content
written exclusively using Roman fonts. The reason for this, that however
it breaks consistency, headlins will still stick out a bit more which
helps readablity. Henceforth I'm using Helvetical for titles throughout
the website for titles and headlines.
*/
/* Color variables */
/* Size variables */
/* Transform */
/*
Different globally used variable for the SASS/SCSS of masterdesky.github.io

Original Author
    Balázs Pált
    2020 - 
*/
/*
Using 17pt Latin Modern Roman font for content text
(This is the most similar to the standard LaTeX (Computer Modern) font in my opinion)
Source: http://www.gust.org.pl/projects/e-foundry/latin-modern
*/
@font-face {
  font-family: IndexFont;
  src: url("/assets/fonts/lmroman17-regular.otf");
  font-display: swap; }

/*
One can benefit from using a lineal typeface in headlines in content
written exclusively using Roman fonts. The reason for this, that however
it breaks consistency, headlins will still stick out a bit more which
helps readablity. Henceforth I'm using Helvetical for titles throughout
the website for titles and headlines.
*/
/* Color variables */
/* Size variables */
/* Transform */
pre.highlight {
  background-color: #282923;
  color: whitesmoke;
  padding: 7px 7px 7px 10px;
  -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px 0;
  overflow: auto;
  text-indent: 0; }

code {
  font-size: 14px;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace; }

.highlight .c {
  color: #586E75; }

/* Comment */
.highlight .err {
  color: #93A1A1; }

/* Error */
.highlight .g {
  color: #93A1A1; }

/* Generic */
.highlight .k {
  color: #F5244C; }

/* Keyword */
.highlight .l {
  color: #93A1A1; }

/* Literal */
.highlight .n {
  color: #A6DE2A; }

/* Name */
.highlight .o {
  color: #F8F7E9; }

/* Operator */
.highlight .x {
  color: #CB4B16; }

/* Other */
.highlight .p {
  color: #F7F7EE; }

/* Punctuation */
.highlight .cm {
  color: #74705D; }

/* Comment.Multiline */
.highlight .cp {
  color: #C5255E; }

/* Comment.Preproc */
.highlight .c1 {
  color: #74705D; }

/* Comment.Single */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
.highlight .gd {
  color: #2AA198; }

/* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #DC322F; }

/* Generic.Error */
.highlight .gh {
  color: #CB4B16; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #93A1A1; }

/* Generic.Output */
.highlight .gp {
  color: #93A1A1; }

/* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #CB4B16; }

/* Generic.Subheading */
.highlight .gt {
  color: #93A1A1; }

/* Generic.Traceback */
.highlight .kc {
  color: #CB4B16; }

/* Keyword.Constant */
.highlight .kd {
  color: #268BD2; }

/* Keyword.Declaration */
.highlight .kn {
  color: #859900; }

/* Keyword.Namespace */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #268BD2; }

/* Keyword.Reserved */
.highlight .kt {
  color: #63C4CF; }

/* Keyword.Type */
.highlight .ld {
  color: #93A1A1; }

/* Literal.Date */
.highlight .m {
  color: #2AA198; }

/* Literal.Number */
.highlight .s {
  color: #E6DA6F; }

/* Literal.String */
.highlight .na {
  color: #93A1A1; }

/* Name.Attribute */
.highlight .nb {
  color: #B58900; }

/* Name.Builtin */
.highlight .nc {
  color: #268BD2; }

/* Name.Class */
.highlight .no {
  color: #CB4B16; }

/* Name.Constant */
.highlight .nd {
  color: #268BD2; }

/* Name.Decorator */
.highlight .ni {
  color: #CB4B16; }

/* Name.Entity */
.highlight .ne {
  color: #CB4B16; }

/* Name.Exception */
.highlight .nf {
  color: #268BD2; }

/* Name.Function */
.highlight .nl {
  color: #93A1A1; }

/* Name.Label */
.highlight .nn {
  color: #93A1A1; }

/* Name.Namespace */
.highlight .nx {
  color: #555; }

/* Name.Other */
.highlight .py {
  color: #93A1A1; }

/* Name.Property */
.highlight .nt {
  color: #268BD2; }

/* Name.Tag */
.highlight .nv {
  color: #268BD2; }

/* Name.Variable */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
.highlight .w {
  color: #93A1A1; }

/* Text.Whitespace */
.highlight .mf {
  color: #2AA198; }

/* Literal.Number.Float */
.highlight .mh {
  color: #2AA198; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #AC80FF; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #2AA198; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #586E75; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #2AA198; }

/* Literal.String.Char */
.highlight .sd {
  color: #93A1A1; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #2AA198; }

/* Literal.String.Double */
.highlight .se {
  color: #CB4B16; }

/* Literal.String.Escape */
.highlight .sh {
  color: #93A1A1; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #2AA198; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #2AA198; }

/* Literal.String.Other */
.highlight .sr {
  color: #DC322F; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #2AA198; }

/* Literal.String.Single */
.highlight .ss {
  color: #2AA198; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #268BD2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268BD2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #268BD2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #268BD2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #2AA198; }

/* Literal.Number.Integer.Long */
html {
  height: 100%; }

/*
body {
  background-image: url('/assets/images/background/background-portal.webp');
  background-size: cover;
  background-repeat: repeat-y;

  height: 100%;
  padding: 0;
  margin: 0;
}
*/
/*
####################################
##  
## 1. BASIC PAGE ELEMENTS
##
####################################
*/
/* Fixed background */
#body-bg {
  background-image: url("/assets/images/background/background-portal.webp");
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

/* Dark, transparent rectangle in the center of the page from top to bottom */
#page-wrapper {
  background-color: rgba(4, 12, 21, 0.604);
  position: absolute;
  width: 1000px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: 2;
  overflow: visible; }

/* Header image div inside the "page wrapper" transparent rectangle */
#header-image-container {
  width: 90%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px; }

/* Actual header image inside the header image container */
.header-image {
  max-width: 100%;
  max-height: 100%; }

/* Footer settings */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3; }

footer .footer {
  background-color: rgba(4, 12, 21, 0.604);
  font-size: 20px;
  font-family: 'IndexFont';
  font-weight: normal;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #ffcc00; }

/*
####################################
##  
## 2. NAVIGATION BAR
##
####################################
*/
.menu {
  text-align: center;
  padding-bottom: 5px; }

.menu ul {
  list-style: none;
  margin: 8px;
  padding: 0; }

.menu li {
  display: inline-block;
  padding: 0 20px; }

/* Menu links */
.menu a:link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffcc00;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica"; }

.menu a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffcc00;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica"; }

.menu a:hover {
  text-decoration: underline; }

.menu a:active {
  text-decoration: underline;
  color: #af89be; }

/*
####################################
##  
## 3. TEXT CONTENT ON REGULAR PAGES
##
####################################
*/
.index-content {
  text-align: justify;
  text-indent: 0;
  color: #fafaff;
  font-size: 21px;
  font-family: 'IndexFont';
  padding-top: 30px;
  padding-bottom: 42px;
  margin: 30px; }

h1 {
  color: #ffcc00;
  font-size: 42px;
  font-weight: bold;
  font-family: "Helvetica";
  padding-left: 3%; }

h2 {
  color: #ffcc00;
  font-size: 35px;
  font-weight: bold;
  font-family: "Helvetica";
  padding-left: 2%; }

h3 {
  color: #ffcc00;
  font-size: 30px;
  font-weight: bold;
  font-family: "Helvetica";
  padding-left: 3%; }

h4 {
  color: #ffcc00;
  font-size: 26px;
  font-weight: bold;
  font-family: "Helvetica";
  padding-left: 4%; }

/* Configure lists */
dl dt {
  color: #ffcc00;
  font-size: 22px;
  font-weight: bold; }

dl dd {
  text-indent: 0;
  display: block;
  margin-left: 4em; }

/* Configure general links */
a:link {
  text-decoration: none;
  color: #ffcc00; }

a:visited {
  text-decoration: none;
  color: #ffcc00; }

a:hover {
  text-decoration: underline; }

a:active {
  color: #af89be;
  text-decoration: underline; }
