@charset "UTF-8";
/*
CSS for blog posts on masterdesky.github.io

Original Author
    Balázs Pál
    2020 - 
*/
/*
Different globally used variable for the SASS/SCSS of masterdesky.github.io

Original Author
    Balázs Pált
    2020 - 
*/
/* Color variables */
/* Size variables */
/* Transform */
hPost {
  color: #ffffee;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 7%; }

/* Add a "floating card" effect for different posts */
.post {
  background-color: rgba(4, 12, 21, 0.604);
  width: 80%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 60px;
  box-shadow: 4px 3px 15px 0px rgba(250, 250, 255, 0.4);
  /* h-offset  v-offset  blur  spread  color */ }

.post-ul {
  list-style-type: none; }

.postimg-container {
  background-color: #00000000;
  border: 2px solid rgba(250, 250, 255, 0.4);
  border-radius: 25px;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.postimg-container img {
  color: rgba(4, 12, 21, 0.604);
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.postDate {
  color: #fafaff;
  font-size: 18px;
  text-align: right; }

.postDesc {
  color: #fafaff;
  font-size: 18px;
  text-align: justify; }

.post-image {
  width: 90%;
  text-align: center;
  margin: auto; }

.post-image input[type=checkbox] {
  display: none; }

.post-image img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.25s ease;
  cursor: zoom-in; }

.post-image input[type=checkbox]:checked ~ img {
  transform: scale(2);
  max-width: 100%;
  height: auto;
  width: auto;
  cursor: zoom-out; }

.post-content {
  color: #fafaff;
  font-size: 21px;
  text-align: justify;
  text-indent: 1.5em;
  font-family: 'IndexFont';
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 30px; }

figcaption {
  font-size: 18px; }

.img-source {
  font-size: 16px;
  margin-top: 10px; }

/* Post links */
.post a:link {
  text-decoration: none; }

.post a:visited {
  text-decoration: none; }

.post a:hover {
  text-decoration: underline; }

.post a:active {
  text-decoration: underline; }

/* Style for list of references */
.references {
  font-size: 17px;
  text-indent: 0; }

.references ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0; }

.references li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em; }

.references li::before {
  display: inline-block;
  content: "[" counter(item) "] : ";
  counter-increment: item;
  color: #ffcc00;
  font-family: 'Lato';
  width: 2em;
  margin-left: -2em; }

/* Style for embed videos */
iframe {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 400px; }
