<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta
      name="description"           
      content="{{ page.content_desc }}">
    <!-- Viewport width is slightly bigger, than the page wrapper -->
    <meta 
      name="viewport"
      content="width=1010, initial-scale=1">
    <!-- Add base css to page -->
    <link rel="stylesheet" type="text/css" href="/assets/css/page.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/404.css">

    <link rel="icon" href="/assets/images/icons/icon.svg">
    <link rel="mask-icon" href="/assets/images/icons/mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon.png">
  </head>
  <body>
    <!-- Background image in div -->
    <div id="body-bg"></div>
    <!-- Special wrapper for 404 page -->
    <div id="notfound-wrapper">
      <!-- Clickable header image -->
      <div id="header-image-container">
        <a href="/">
          <img class="header-image" src="/assets/images/header/header.svg" alt="masterdesky">
        </a>
      </div>

      {{ content }}

    </div>
    <footer>
      <div id="footer">
        Website created and designed by Balázs Pál - &copy; 2020
      </div>
    </footer>
  </body>
</html>